.card-35    { background: #125593; }
.card-34    { background: #135D93; }
.card-33    { background: #146494; }
.card-32    { background: #146C94; }
.card-31    { background: #157495; }
.card-30    { background: #167C95; }
.card-29    { background: #168496; }
.card-28    { background: #178B96; }
.card-27    { background: #189397; }
.card-26    { background: #199794; }
.card-25    { background: #19988D; }
.card-24    { background: #1A9886; }
.card-23    { background: #1B9980; }
.card-22    { background: #1C9979; }
.card-21    { background: #1C9A73; }
.card-20    { background: #1D9A6C; }
.card-19    { background: #229D67; }
.card-18    { background: #27A162; }
.card-17    { background: #2CA45D; }
.card-16    { background: #32A859; }
.card-15    { background: #37AB55; }
.card-14    { background: #3CAE51; }
.card-13    { background: #41B14E; }
.card-12    { background: #47B44B; }
.card-11    { background: #50B74C; }
.card-10    { background: #5DBA52; }
.card-9     { background: #6ABD57; }
.card-8     { background: #77C05D; }
.card-7     { background: #83C362; }
.card-6     { background: #8FC668; }
.card-5     { background: #9AC96E; }